body {
    background: @c-background;
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
p,
h2,
h3,
h4,
h5,
h6,
li {
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
button:active,
button:focus {
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 0;
    outline: none;
}

span {
    text-decoration: none;
}
