@c-background: #eeeeee; // Внешний фон
@c-background-light: #ffffff; // Внутренний фон
@c-light-grey: #fafafa; // Цвет карточки
@c-grey: #bbbbbb; // Фон аватара
@c-primary: rgba(0, 0, 0, 0.87); // Основной текст
@c-secondary: rgba(0, 0, 0, 0.54); // Вспомогательный текст
@c-shadow: rgba(0, 0, 0, 0.12); // Разделитель
@c-yellow: #fff73b; // Выделенный текст
@c-green: #009688; // Зеленый текст
@c-scroll: #4d4d4d; // Цвет скролла
@c-blue: #4765ff; // Цвет рамки
