<template>
  <div class="profile" :class="{ suitable: profile.suitable }">
    <img class="profile-avatar" :src="profile.avatar" :alt="profile.name">
    <div class="profile-description">
      <div class="profile-main-information">
        <div class="profile-name-email">
          <h2 class="profile-name">
            {{ nameSearch.notSelected[0]
            }}<span
              v-for="(selectedSubstring, index) in nameSearch.selected"
              :key="index"
            ><span class="selected">{{ selectedSubstring }}</span>{{ nameSearch.notSelected[index + 1] }}</span>
          </h2>
          <p class="profile-email">
            {{ emailSearch.notSelected[0]
            }}<span
              v-for="(selectedSubstring, index) in emailSearch.selected"
              :key="index"
            ><span class="selected">{{ selectedSubstring }}</span>{{ emailSearch.notSelected[index + 1] }}</span>
          </p>
        </div>
        <p class="profile-title">
          {{ titleSearch.notSelected[0]
          }}<span
            v-for="(selectedSubstring, index) in titleSearch.selected"
            :key="index"
          ><span class="selected">{{ selectedSubstring }}</span>{{ titleSearch.notSelected[index + 1] }}</span>
        </p>
        <p class="profile-address">
          {{ addressSearch.notSelected[0]
          }}<span
            v-for="(selectedSubstring, index) in addressSearch.selected"
            :key="index"
          ><span class="selected">{{ selectedSubstring }}</span>{{ addressSearch.notSelected[index + 1] }}</span>,
          <span>{{ citySearch.notSelected[0]
          }}<span
            v-for="(selectedSubstring, index) in citySearch.selected"
            :key="index"
          ><span class="selected">{{ selectedSubstring }}</span>{{ citySearch.notSelected[index + 1] }}</span></span>
        </p>
      </div>
      <button class="profile-mark-button" @click="onSuitableChange(!profile.suitable)">
        {{ profile.suitable ? 'SKIP SELECTION' : 'MARK AS SUITABLE' }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ProfileApi } from '../api/profile.api';
import { SearchApi } from '../api/search.api';

export default Vue.extend({
  name: 'ProfileCard',
  props: {
    profile: {
      type: Object as () => ProfileApi,
      required: true,
    },
    searchString: {
      type: String,
      required: false,
      default: '',
    },
  },
  data: () => ({}),
  computed: {
    nameSearch(): SearchApi {
      return this.searchSubstring(this.searchString, this.profile.name);
    },
    emailSearch(): SearchApi {
      return this.searchSubstring(this.searchString, this.profile.email);
    },
    titleSearch(): SearchApi {
      return this.searchSubstring(this.searchString, this.profile.title);
    },
    addressSearch(): SearchApi {
      return this.searchSubstring(this.searchString, this.profile.address);
    },
    citySearch(): SearchApi {
      return this.searchSubstring(this.searchString, this.profile.city);
    },
  },
  methods: {
    searchSubstring(searchString: string, targetField: string): SearchApi {
      const regExp = new RegExp(searchString, 'gi');
      return {
        notSelected: targetField.split(regExp),
        selected: [...targetField.matchAll(regExp)].map((item) => item[0]),
      };
    },
    onSuitableChange(value: boolean): void {
      this.$emit('suitable-change', value);
    },
  },
});
</script>

<style scoped lang="less">
.profile {
    display: flex;
    flex-direction: row;
    width: 524px;
    height: 136px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: @c-light-grey;
    color: @c-secondary;
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;

    &-avatar {
        width: 134px;
        height: 100%;
        background: @c-grey;
        overflow: hidden;
        object-fit: cover;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 390px;
        flex-grow: 1;
    }

    &-main-information {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0 0 27px;
        border-bottom: 1px solid @c-shadow;
        white-space: nowrap;
    }

    &-name-email {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-overflow: ellipsis;
    }

    &-name {
        line-height: 32px;
        font-size: 24px;
        color: @c-primary;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-email {
        margin: 0;
        flex-grow: 0;
        padding-left: 10px;
        padding-right: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-title {
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-address {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-mark-button {
        min-width: 139px;
        min-height: 50px;
        padding: 15px 0 19px 32px;
        font-weight: 500;
        color: @c-green;
    }
}
.suitable {
    border: 1px solid @c-blue;
}

.selected {
    background: @c-yellow;
}
</style>
