<template>
  <div class="search-input">
    <input class="search-input-inner" type="text" :value="value" @input="onInput($event.target.value)">
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SearchInput',
  props: {
    value: {
      type: String,
      required: false,
      default: '',
    },
  },
  methods: {
    onInput(value: string): void {
      this.$emit('input', value);
    },
  },
});
</script>

<style lang="less" scoped>
.search-input {
    position: relative;
    width: 100%;
    padding: 19px 12px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.search-input::before {
    content: '';
    color: @c-primary;
    position: absolute;
    bottom: 0;
    left: 30px;
    top: 0;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23666666' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.search-input-inner {
    height: 48px;
    width: 524px;
    padding-left: 3rem;
    color: @c-primary;
    background-color: @c-light-grey;
    background-clip: padding-box;
    border-radius: 2px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 0px 2px @c-shadow, 0px 2px 2px @c-shadow;
}

.search-input-inner:focus {
    outline: 0;
    box-shadow: 0px 0px 2px @c-shadow, 0px 2px 2px @c-secondary;
}
</style>
