<template>
  <div class="index">
    <div class="index-inner">
      <search-input :value="searchString" @input="changeSearchString" />
      <div class="index-list">
        <div v-if="shownProfiles.length || !searchString" class="index-list-inner">
          <div v-for="(profileItem, index) in shownProfiles" :key="index" class="index-profile">
            <profile-card
              :profile="profileItem"
              :search-string="searchString"
              @suitable-change="setSuitableFlag($event, profileItem.id)"
            />
          </div>
        </div>
        <p v-else class="index-no-data">
          No matching data
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import _ from 'lodash';
import { mockProfiles } from '../../mock/mock-profiles';
import { ProfileApi } from '../../api/profile.api';

export default Vue.extend({
  data: () => ({
    profileList: mockProfiles.map((item, index) => {
      return { ...item, id: index, suitable: false };
    }) as ProfileApi[],
    searchString: '' as string,
    shownProfiles: [] as ProfileApi[],
    debounceDelay: 100 as number,
    initProfileNumber: 10 as number,
  }),
  computed: {
    filteredProfileList(): ProfileApi[] {
      const regExp = new RegExp(this.searchString, 'gi');
      return this.profileList.filter((item: ProfileApi) => {
        return (
          item.title.search(regExp) > -1
                    || item.name.search(regExp) > -1
                    || item.email.search(regExp) > -1
                    || item.address.search(regExp) > -1
                    || item.city.search(regExp) > -1
        );
      });
    },
  },
  mounted() {
    this.searchString = this.$route.params.request;
    this.initProfilesList();
    this.scrollProfiles();
  },
  methods: {
    changeSearchString(value: string): void {
      this.searchString = value;
      // eslint-disable-next-line no-restricted-globals
      history.pushState({}, '', `/search/${value}`);
      this.initProfilesList();
    },
    setSuitableFlag(value: boolean, id: number): void {
            this.profileList[id]!.suitable = value;
    },
    initProfilesList(): void {
            document.querySelector<HTMLElement>('.index-list')!.scrollTo({
              top: 0,
              behavior: 'smooth',
            });
            this.shownProfiles = [];
            this.shownProfiles.push(...this.filteredProfileList.slice(0, this.initProfileNumber));
    },
    scrollProfiles(): void {
            document.querySelector<HTMLElement>('.index-list')!.onscroll = _.debounce(
              this.addProfiles,
              this.debounceDelay,
            );
    },
    addProfiles(): void {
      const bottomOfWindow: boolean = document.querySelector<HTMLElement>('.index-list')!.scrollTop + window.innerHeight
                > document.querySelector<HTMLElement>('.index-list-inner')!.offsetHeight - 200;
      if (bottomOfWindow) {
        this.shownProfiles.push(
          ...this.filteredProfileList.slice(
            this.shownProfiles.length,
            this.shownProfiles.length + this.initProfileNumber,
          ),
        );
      }
    },
  },
});
</script>

<style lang="less" scoped>
.index {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: @c-background;

    &-inner {
        width: 564px;
        height: 643px;
        background-color: @c-background-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px;
    }

    &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        padding: 0 19px 0;
    }

    &-list::-webkit-scrollbar {
        width: 4px;
        background: none;
        border-right: 1px solid @c-shadow;
    }

    &-list::-webkit-scrollbar-thumb {
        background: @c-scroll;
        border-radius: 2px;
    }

    &-list-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-profile {
        margin-bottom: 21px;
    }

    &-no-data {
        font-weight: bold;
        font-size: 18px;
        font-family: Roboto, sans-serif;
    }
}
</style>
